@import './color.scss';

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.fs-15{
  font-size: 15px;
}
.fs-22{
  font-size: 22px;
}

.mgb-20{
  margin-bottom: 20px;
}

@mixin mar-center($width) {
  margin: 0 auto;
  width: $width;
}

@mixin ellipse($clamp) {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal !important;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $clamp;
  margin-top: 5px;
}
